.homeMainContianer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.leftContainer{
    height: 80vh;
    width: 33%;
}

.rightContainer{
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 66%;
}